
.contain{
  color: #000;
}
.card{
  margin:auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  color: black;
  background-color: aliceblue;
  box-shadow: 10px 10px
}
.fieldarea{
  margin: auto;
  display: flex;
  border-radius: 5%;
  margin-top:6% ;
  justify-content: center;
}
.fieldarea input{
  border-radius: 10px;
}
